# Core dependencies
streamlit
langchain==0.1.14
langchain-openai==0.0.6
langchain-experimental
python-dotenv

groq

# Geospatial stack (install in correct order)

shapely==2.0.3
fiona==1.9.5
pyproj==3.6.1
rtree==1.0.1
geopandas==0.14.3
